# ignore everything except the following directories
/*
!/.hammerspoon/
!/atuin/
!/autorandr/
!/btop/
!/cava/
!/cmus/
!/conky/
!/dunst/
!/karabiner/
!/kitty/
!/neofetch/
!/nitrogen/
!/nix-darwin/
!/nnn/
!/nvim/
!/picom/
!/qtile/
!/raycast/
!/rofi/
!/sketchybar/
!/skhd/
!/wal/
!/warpd/
!/yabai/
!/.gitignore
!/.zshrc
!/pkglist.txt


